@import 'variables';
@import "../../node_modules/bootstrap/scss/bootstrap";

.btn-habit {
  font-size: 5rem;
  padding: 0 18px;
  border: 1px solid #ddd;
  background: #fff;
}

.actionlist {
  list-style: none;
}

.actionlist-item {
  font-size: 5rem;
  display: inline-block;
}

.habits {
  position: relative;
}

.habits_collapse {
  position: absolute;
  z-index: 1;
}

.habit {
  display: inline-block;
  margin: 5px;
}
