@import 'variables';
@import "../../node_modules/bootstrap/scss/bootstrap";

.btn-habit {
  font-size: 5rem;
  padding: 0 18px;
  border: 1px solid #ddd;
}


.actionlist {
  list-style: none;
}

.actionlist-item {
  font-size: 5rem;
  display: inline-block;
}
