{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <ul class="actionlist">
      {% for action in object_list %}
        {% ifchanged action.timestamp.date %}
          <h3>{{ action.timestamp|date:"F d"}}</h3>
        {% endifchanged %}
        <li class="actionlist-item" data-toggle="tooltip" data-placement="bottom" title="{{ action.description }}">
          {{ action.habit.code }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
