{% load static %}
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>hbit</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo|VT323" rel="stylesheet">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1><span class="text-danger">h</span>BIT//<span class="text-danger">-</span></h1>
        </div>
      </div>
      {% if messages %}
      <div class="row">
        <div class="col">
          <ul class="messages">
            {% for message in messages %}
            <li id="message_{{ forloop.counter }}"
              {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}>
              {{ message }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
  </body>
  <script src="{% static '/js/project.js' %}"></script>
</html>
